<div class="dialog-container">
  <h2>Adicionar Preço</h2>
  
  <form [formGroup]="priceForm">
    <mat-form-field appearance="outline" class="full-width price-dialog-select">
      <mat-label>Loja*</mat-label>
      <mat-select formControlName="storeId" required panelClass="mat-select-panel-custom">
        <mat-option disabled [value]="null">Selecione uma loja</mat-option>
        <mat-option *ngFor="let store of stores" [value]="store.id">
          {{ store.id }} - {{ store.description }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>store</mat-icon>
      <mat-error *ngIf="priceForm.get('storeId')?.hasError('required')">
        Selecione uma loja
      </mat-error>
    </mat-form-field>
    
    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Preço de Venda (R$)*</mat-label>
        <input matInput formControlName="salePrice" type="number" step="0.01" required>
        <mat-icon matSuffix>attach_money</mat-icon>
        <mat-error *ngIf="priceForm.get('salePrice')?.hasError('required')">
          Preço é obrigatório
        </mat-error>
        <mat-error *ngIf="priceForm.get('salePrice')?.hasError('min')">
          O preço deve ser maior ou igual a zero
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  
  <div class="button-row">
    <button mat-button (click)="dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="savePrice()" [disabled]="priceForm.invalid">
      <mat-icon>save</mat-icon> Salvar
    </button>
  </div>
</div>